//@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap')
$brandColor: #2cc0a7
*
  font-family: "Arimo Bold"

  .text-underline
    text-decoration: underline

  .color-brand
    color: $brandColor

  .bg-brand
    background: $brandColor

  .bg-grep
    background: #f47264

  .btn-healthy
    border-radius: 10px
    padding: 12px
    padding-left: 30px
    padding-right: 30px

  .font-regular
    font-family: "Arimo Regular"

  .font-italic
    font-family: "Arimo Italic"
//  .container-fix
    @media (min-width: 1200px)
      min-width: 1300px
body
  header.nav-block
    margin-bottom: 0

    .container
      .navbar
        .navbar-brand
          img
            width: 45px

          .brand-text-block
            display: inline

            h3
              font-size: 30px

            small
              position: relative
              bottom: 5px

    .collapse
      .navbar-nav
        .nav-item
          .nav-link
            font-size: 13px
            color: black
            text-transform: uppercase

  .block-main
    height: 750px
    background-image: url("../img/business-team.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position-y: center

    .block-cap
      height: 750px
      background: linear-gradient(160deg, rgb(246, 247, 248) 35%, rgba(246, 247, 248, 0.7) 100%)

      .container
        .b-left
          max-width: 55%
          padding-top: 80px

          .img-man.mobile
            img
              width: 400px

          .title
            margin-bottom: 40px

          .desc
            font-size: 19px

          .choose-desc
            font-size: 22px
            margin-bottom: 40px

          .choose-block
            .btn-block
              margin-bottom: 30px

              .choose-item
                max-height: 54px
                color: black
                background: #ffffff
                margin-right: 15px
                box-shadow: 0 0 15px lightgray
                transition: box-shadow 0.5s ease-in-out

                p
                  font-size: 19px

                & .triangle-part
                  height: 10px
                  position: relative
                  border-style: solid
                  border-width: 15px 20px 0 20px
                  border-color: white transparent transparent transparent
                  z-index: 9
                  top: 5px
                  opacity: 0
                  transition: opacity 0.5s ease-in-out

                &:hover
                  box-shadow: -10px 20px 25px lightgray .3

                  & .triangle-part
                    opacity: 1


            .desc-reception
              font-size: 17px
              width: 80%
              margin-bottom: 40px

            .btn-choose
              background: $brandColor
              padding: 20px
              padding-left: 60px
              padding-right: 60px

        .b-right
          max-width: 45%

          img
            width: 605px
            position: relative
            bottom: -3px
            z-index: 1

  .block-second
    position: relative
    z-index: 99
    padding-top: 80px
    margin-bottom: 80px

    .container
      .block-f
        .b-left
          .title-block
            font-size: 30px
            text-transform: uppercase

          .desc-block
            .desc-f
              font-size: 18px

            .desc-b
              font-size: 17px

            .desc-fl
              font-size: 18px

        .b-right
          display: flex
          align-items: flex-end
          justify-content: flex-end

          img
            width: 93%

  .block-third
    background: linear-gradient(70deg, rgba(244, 114, 100, 1) 49.9%, rgba(255, 255, 255, 1) 50%, rgba(44, 192, 167, 1) 50.1%)
    padding-top: 40px

    .container
      .b-left, .b-right
        max-width: 45%

        .text-block
          .icon
            margin-bottom: 25px

          .desc
            font-size: 16px
            margin-bottom: 25px

  .card-header
    background: none

    .btn-link
      outline: none

      &:focus, &:hover
        outline: none !important
        border: none !important
        box-shadow: none

  .faq-container
    .card
      border: none

      .card-body
        font-family: "Arimo Regular"

  #regModal
    .group
      margin-bottom: 25px

      input
        box-shadow: inset 0 1px 5px gray
        border-radius: 10px
        border: none
        padding-top: 15px
        padding-bottom: 15px
        padding-left: 15px

        &:hover, &:focus
          border: none

    .reg-btn
      border-radius: 10px
      padding: 15px
      padding-left: 25px
      padding-right: 25px

  footer
    .big-logo-wrap

      .logo-brand-text
        position: relative
        top: 5px


@media screen and (max-width: 560px)
  .mobile-curve, .step-marker, .journey__track, .track
    display: none !important
  .check-icon
    width: 35px !important
  .m-flexed-block
    flex-wrap: wrap !important

    .b-left, .b-right
      width: 100%
      max-width: 100% !important
  .block-main
    height: 650px !important

    .block-cap
      height: 650px !important

      .b-left
        max-width: 100% !important
        text-align: center
        padding-top: 30px !important

        .title
          font-size: 2.5rem
          top: 0
          font-family: "Arimo Bold"

        .desc
          margin-top: 30px

        .choose-desc
          position: relative
          width: 90%
          left: 50%
          transform: translateX(-50%)

        .choose-block
          width: 100%

          .btn-block
            .choose-item
              max-width: 45%
              max-height: 70px !important
              border-radius: 15px
              padding-top: 5px
              background: #eff1f4 !important
              box-shadow: none !important

              &:hover
                background: white

              p
                font-size: 19px !important

          .desc-reception
            position: relative
            width: 95% !important
            text-align: center !important
            font-size: 19px !important
            left: 50%
            transform: translateX(-50%)
      .b-right
        display: none !important
  #on_nas
    margin-top: 590px

    .title-block
      text-align: center

    .desc-block
      padding: 10px
      .desc-f
        font-size: 1.5rem
      .desc-b
        font-size: 1.45rem
      .desc-fl, .desc-fl a
        font-size: 1.45rem
        margin-bottom: 40px

      br
        display: none
  .block-third
    background: linear-gradient(-10deg, rgba(244, 114, 100, 1) 49.9%, rgba(255, 255, 255, 1) 50%, rgba(44, 192, 167, 1) 50.1%) !important
    .b-left
      margin-bottom: 50px
  .how-it-work-container
    h3
      font-size: 1.7rem
    .journey-timeline
      margin-left: 0
      text-align: center
      .journe-block
        max-width: 100% !important
        .img-wrap
          img
            max-width: 100% !important
  .specialist-container
    .hico-text-wrap
      span
        font-size: 1.2rem
        width: 80%
        text-align: left
        margin-left: 10px
        position: relative
        bottom: 25px
      img
        width: 25px !important
    h3
      font-size: 1.7rem
      text-align: left
    .mobile-img-wrap
      display: none
    .description
      font-family: "Arimo Regular"
      text-align: left
      word-break: break-all
    .col-md-5
      img
        margin-top: 50px
        margin-bottom: 40px
        width: 350px
  .faq-container
    .btn-link
      &:after
        content: '' !important
  .single-btn-container
    text-align: center
    h3
      font-size: 2.4rem
    button
      margin-bottom: 20px
      width: 70% !important
      padding: 20px !important