* {
  font-family: "Arimo Bold"; }
  * .text-underline {
    text-decoration: underline; }
  * .color-brand {
    color: #2cc0a7; }
  * .bg-brand {
    background: #2cc0a7; }
  * .bg-grep {
    background: #f47264; }
  * .btn-healthy {
    border-radius: 10px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px; }
  * .font-regular {
    font-family: "Arimo Regular"; }
  * .font-italic {
    font-family: "Arimo Italic"; }

body header.nav-block {
  margin-bottom: 0; }
  body header.nav-block .container .navbar .navbar-brand img {
    width: 50px; }
  body header.nav-block .container .navbar .navbar-brand .brand-text-block {
    display: inline; }
    body header.nav-block .container .navbar .navbar-brand .brand-text-block small {
      position: relative;
      bottom: 5px; }
  body header.nav-block .collapse .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    color: black;
    text-transform: uppercase; }

body .block-main {
  height: 750px;
  background-image: url("../img/business-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center; }
  body .block-main .block-cap {
    height: 750px;
    background: -o-linear-gradient(290deg, #f6f7f8 35%, rgba(246, 247, 248, 0.7) 100%);
    background: linear-gradient(160deg, #f6f7f8 35%, rgba(246, 247, 248, 0.7) 100%); }
    body .block-main .block-cap .container .b-left {
      max-width: 55%;
      padding-top: 80px; }
      body .block-main .block-cap .container .b-left .title {
        margin-bottom: 40px; }
      body .block-main .block-cap .container .b-left .desc {
        font-size: 19px; }
      body .block-main .block-cap .container .b-left .choose-desc {
        font-size: 22px;
        margin-bottom: 40px; }
      body .block-main .block-cap .container .b-left .choose-block .btn-block {
        margin-bottom: 30px; }
        body .block-main .block-cap .container .b-left .choose-block .btn-block .choose-item {
          color: black;
          background: #ffffff;
          margin-right: 15px;
          font-size: 19px;
          -webkit-box-shadow: 0 0 15px lightgray;
                  box-shadow: 0 0 15px lightgray; }
      body .block-main .block-cap .container .b-left .choose-block .desc-reception {
        font-size: 17px;
        width: 80%;
        margin-bottom: 40px; }
      body .block-main .block-cap .container .b-left .choose-block .btn-choose {
        background: #2cc0a7;
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px; }
    body .block-main .block-cap .container .b-right {
      max-width: 45%; }
      body .block-main .block-cap .container .b-right img {
        width: 605px;
        position: relative;
        bottom: 50px; }

body .block-second {
  padding-top: 80px;
  margin-bottom: 80px; }
  body .block-second .container .block-f .b-left .title-block {
    font-size: 30px;
    text-transform: uppercase; }
  body .block-second .container .block-f .b-left .desc-block .desc-f {
    font-size: 18px; }
  body .block-second .container .block-f .b-left .desc-block .desc-b {
    font-size: 17px; }
  body .block-second .container .block-f .b-left .desc-block .desc-fl {
    font-size: 18px; }
  body .block-second .container .block-f .b-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    body .block-second .container .block-f .b-right img {
      width: 93%; }

body .block-third {
  background: -o-linear-gradient(20deg, #f47264 49.9%, white 50%, #2cc0a7 50.1%);
  background: linear-gradient(70deg, #f47264 49.9%, white 50%, #2cc0a7 50.1%);
  padding-top: 40px; }
  body .block-third .container .b-left, body .block-third .container .b-right {
    max-width: 45%; }
    body .block-third .container .b-left .text-block .icon, body .block-third .container .b-right .text-block .icon {
      margin-bottom: 25px; }
    body .block-third .container .b-left .text-block .desc, body .block-third .container .b-right .text-block .desc {
      font-size: 16px;
      margin-bottom: 25px; }
